[submodule "themes"]
	path = themes/davsk-gohugo-theme
	url = git@github.com:davsk/davsk-gohugo-theme.git
[submodule "static/graphics"]
	path = static/graphics
	url = git@github.com:davsk/ReplayRLB-Graphics.git
[submodule "scss"]
	path = scss
	url = git@github.com:davsk/ReplayRLB-SCSS.git
#[submodule "themes/davsk-gohugo-theme"]
	#path = themes/davsk-gohugo-theme
	#url = git@github.com:davsk/davsk-gohugo-theme.git
